*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    margin: 0;
    list-style: none;
}
html,body{
    position: relative;
}

/*头部导航栏*/
.header{
    width: 100%;
    height: 60px;
    background-color: #1a1a1a;
}
.contain {
    width: 1140px;
    margin: 0 auto;
}
.nav {
    float: left;
}
.nav > p{
    float: left;
    color: #f0f0f0;
    line-height: 60px;
    font-size: 22px;
}
.nav > ul {
    float: left;
    height: 60px;
    margin-left: 25px;
}
.nav > ul > li {
    display: inline-block;
    margin: 10px 15px;
    line-height: 40px;
    cursor: pointer;
}
.nav > ul > li > a {
    color: #f0f0f0;
}
.nav > ul > li:hover {
    border-bottom: 3px solid #f0f0f0;
}
.search-box {
    float: right;
    width: 220px;
    height: 60px;
    position: relative;
}
.search-box input {
    width: 150px;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
.search-box button {
    width: 40px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #bcbcbc;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
    cursor: pointer;
}

.content-wrap {
    text-align: center;
}
.content {
    display: inline-block;
    width: 1140px;
    margin-top: 30px;

}
.content-left {
    /*display: inline-block;*/
    /*vertical-align: top;*/
    float: left;
    width: 65%;
    text-align: left;
}

/*右边内容区*/
.content-right {
    /*display: inline-block;*/
    /*vertical-align: top;*/
    float: right;
    width: 32%;
    text-align: left;
}
.panel {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    background-color: #1a1a1a;
}
.panel .title {
    height: 30px;
    padding: 5px 10px;
    color: #f0f0f0;
    background-color: #000;
    line-height: 30px;
}
.random-tags  {
    padding: 15px 10px;

}
.random-tags > a {
    margin: 0 5px;
    color: aquamarine;
    cursor: pointer;
}

.recently-hot > ul > li {
    height: 40px;
    border-bottom: 1px solid #292929;
}
.recently-hot > ul > li > a {
    padding: 5px 15px;
    line-height: 40px;
    color: #f0f0f0;
}
.recently-hot > ul > li > a:hover{
    color: #0f73b4;
}

.recently-comments > ul > li {
    padding: 5px 15px ;
    border-bottom: 1px solid #292929;
}
.recently-comments > ul > li > p{
    color: #f0f0f0;
    font-size: 14px;
    /*padding: 5px 0;*/
}
.recently-comments p .user{
    font-weight: 700;
}
.recently-comments p .time{
    float: right;
}
.recently-comments > ul > li > a {
    color: #777777;
}
.recently-comments > ul > li > a:hover{
    color: #0f73b4;
}

/*底部*/
.footer{
    /*position: absolute;*/
    /*bottom: 0;*/
    /*margin-bottom: -70px;*/
    width: 100%;
    height: 70px;
    background-color: #191919;
}
.footer  p {
    line-height: 70px;
    text-align: center;
    color: #A2A2A2;
}

@media screen and (max-width: 1170px) {
    .contain,.content{
        width: 970px;
    }
}